<div class="row">
  <div class="col-md-4 mb-3">
    @if (!isCounting()) {
      <button type="submit"
              class="btn btn-success"
              [disabled]="usersFormArray.length === 0 || invalidCount() !==0"
              (click)="submit()">
        Submit All Forms
      </button>

      @if (invalidCount() !== 0) {
        Invalid forms: {{ invalidCount() }}
      }
    } @else {
      <button class="btn btn-danger"
              (click)="cancelTimer()">
        Cancel
      </button>
      {{ countdownMessage() }}
    }
  </div>
</div>

<div *ngIf="usersFormArray"
     class="row"
     [class.disable-view]="isCounting()">
  <div class="col-md-3"
       *ngFor="let formGroup of formControls; let i = index">
    <user-form
      [formGroup]="formGroup"
      (remove)="removeForm(i)"
      (usernameSearch)="checkUsername($event)"
      [index]="i"
    ></user-form>
  </div>

  <div
    *ngIf="isFormLengthValid"
    class="col-md-3 mb-3 add-form-container d-flex justify-content-center align-items-center"
    (click)="addForm()">
    <button class="add-form-button"
            [disabled]="usersFormArray.length >= 10">
      <span class="add-icon">+</span>
    </button>
  </div>
</div>

